<div class="sidebar">

    <div class="sidebar-wrapper">
        <div class="logo">
            <div class="simple-text">
                MoVibe
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item clickable" *ngFor="let item of menu" (click)="navigate(item.route)"
                [ngClass]="{'active': isActualPath(item.route)}">
                <div class="nav-link">
                    <i class="{{item.icon}}"></i>
                    <p>{{item.name}}</p>
                </div>
            </li>
            <li class="nav-item active active-pro" (click)="logout()">
                <div class="nav-link active clickable">
                    <i class="nc-icon nc-stre-left"></i>
                    <p>Sair</p>
                </div>
            </li>
        </ul>
    </div>
</div>