<div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark" id="header">
    <div class="card card-login card-hidden pt-5 pb-3">
        <div class="card-header">
            <h3 class="header text-center">MoVibe</h3>
        </div>
        <div class="card-body ">
            <div class="card-body">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" placeholder="Enter email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Password" class="form-control">
                </div>
            </div>
        </div>
        <div class="card-footer ml-auto mr-auto">
            <button type="submit" class="btn btn-warning btn-wd" (click)="submit()">Login</button>
        </div>
    </div>